{% extends "HHtemp.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block extended %}
<section>
<h1>About Us</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id velit sagittis, dignissim elit non, accumsan urna. Maecenas sagittis libero dolor, finibus ultricies mi imperdiet nec. Nullam tempor nec diam sed efficitur. Fusce cursus, magna ac rutrum pharetra, felis ligula tempor magna, id consequat erat erat ut nibh. Nullam maximus, metus a posuere fermentum, dui ante finibus mauris, quis suscipit velit lorem vitae odio. Pellentesque bibendum massa non sollicitudin volutpat. Morbi a sem maximus, sollicitudin dolor nec, mollis est. Ut lectus ligula, molestie in posuere sit amet, euismod vel velit. Quisque luctus sagittis purus, id sodales lacus mollis quis. Nullam convallis rhoncus purus vel lacinia. Nunc leo tortor, aliquam sed nisi et, efficitur interdum urna.</h2>
<h1>Terms of services</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id velit sagittis, dignissim elit non, accumsan urna. Maecenas sagittis libero dolor, finibus ultricies mi imperdiet nec. Nullam tempor nec diam sed efficitur. Fusce cursus, magna ac rutrum pharetra, felis ligula tempor magna, id consequat erat erat ut nibh. Nullam maximus, metus a posuere fermentum, dui ante finibus mauris, quis suscipit velit lorem vitae odio. Pellentesque bibendum massa non sollicitudin volutpat. Morbi a sem maximus, sollicitudin dolor nec, mollis est. Ut lectus ligula, molestie in posuere sit amet, euismod vel velit. Quisque luctus sagittis purus, id sodales lacus mollis quis. Nullam convallis rhoncus purus vel lacinia. Nunc leo tortor, aliquam sed nisi et, efficitur interdum urna.</h2>
<h1>Privacy Policy</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id velit sagittis, dignissim elit non, accumsan urna. Maecenas sagittis libero dolor, finibus ultricies mi imperdiet nec. Nullam tempor nec diam sed efficitur. Fusce cursus, magna ac rutrum pharetra, felis ligula tempor magna, id consequat erat erat ut nibh. Nullam maximus, metus a posuere fermentum, dui ante finibus mauris, quis suscipit velit lorem vitae odio. Pellentesque bibendum massa non sollicitudin volutpat. Morbi a sem maximus, sollicitudin dolor nec, mollis est. Ut lectus ligula, molestie in posuere sit amet, euismod vel velit. Quisque luctus sagittis purus, id sodales lacus mollis quis. Nullam convallis rhoncus purus vel lacinia. Nunc leo tortor, aliquam sed nisi et, efficitur interdum urna.</h2>


</section>
{% endblock %}


